# Python-specific artifacts
__pycache__/
*.py[cod]
*$py.class
dist/

# Tool caches and artifacts
htmlcov/
.coverage
coverage.xml
.pytest_cache/
.python-version
.mypy_cache/
.ruff_cache/
junit.xml

# Sphinx documentation
docs/build/
docs/source/generated/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual Environments
.venv

# Other tool- and OS-specific
.DS_Store
.idea/
.vscode/
