name: ci-doc

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 6 * * 2'
  release:
    types: [ published ]

jobs:

  pdoc:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0 # Important for versioning plugins

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.10.1'
          enable-cache: true
          python-version: '3.14'

      - name: Setup Python (using uv)
        run: uv python install

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Use sphinx to generate HTML documentation
        run: uv run sphinx-build -M html docs/source/ docs/build/

      - name: Deploy documentation to GitHub Pages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: docs/build/html
          clean: true
