name: ci-pre

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 6 * * 2'
  release:
    types: [ published ]

jobs:

  pre-commit:
    name: Linting and formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          version: '0.10.1'

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Install pre-commit and respective hooks
        run: uv run pre-commit install --install-hooks

      - name: Run pre-commit hooks
        run: uv run pre-commit run --all-files --show-diff-on-failure
