name: ci-pre

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 6 * * 2'
  release:
    types: [ published ]

jobs:

  pre-commit:
    name: Linting and formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Important for versioning plugins

      - name: Setup project dependencies
        uses: ./.github/actions/project-setup

      - name: Install pre-commit and respective hooks
        run: uv run --frozen pre-commit install --install-hooks

      - name: Run pre-commit hooks
        run: uv run --frozen pre-commit run --all-files --hook-stage manual --show-diff-on-failure
