name: ci-pub

on:
  release:
    types: [ published ]
  workflow_dispatch: # Enables manual triggering from the GitHub UI

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Mandatory for OIDC authentication to PyPI
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Important for versioning plugins

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: '0.10.1'
          enable-cache: true
          python-version: '3.14'

      - name: Setup Python (using uv)
        run: uv python install

      - name: Install all dependencies
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run --frozen pytest

      - name: Build package
        run: uv build --no-sources

      - name: Publish to PyPI
        run: uv publish --trusted-publishing always
        # Although uv is newer and faster, the "official" publishing option is the one from PyPA,
        # which uses twine. If desired, replace `uv publish` with:
        # uses: pypa/gh-action-pypi-publish@release/v1
