name: ci-pub

on:
  release:
    types: [ published ]
  workflow_dispatch: # Enables manual triggering from the GitHub UI

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Mandatory for OIDC authentication to PyPI
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Important for versioning plugins

      - name: Setup project dependencies
        uses: ./.github/actions/project-setup

      - name: Run tests
        run: uv run --frozen pytest

      - name: Build package
        run: uv build --no-sources

      - name: Publish to PyPI
        run: uv publish --trusted-publishing always
        # Although uv is newer and faster, the "official" publishing option is the one from PyPA,
        # which uses twine. If desired, replace `uv publish` with:
        # uses: pypa/gh-action-pypi-publish@release/v1
