name: ci-test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 6 * * 2'
  release:
    types: [ published ]

jobs:

  test:
    name: Testing
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - macos-15
          - macos-15-intel
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Important for versioning plugins

      - name: Setup project dependencies
        uses: ./.github/actions/project-setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests with code coverage
        run: uv run --frozen pytest --durations=10 --cov=src/snowdrift --cov-report=xml --junitxml=junit.xml -o junit_family=legacy

      - name: Upload coverage reports to Codecov
        if:  ${{ matrix.platform == 'ubuntu-latest' && matrix.python-version == '3.14' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() && !github.event.pull_request.head.repo.fork && github.repository_owner == 'xann16' }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}
          name: sd_${{ matrix.platform }}_py${{ matrix.python-version }}
