name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 6 * * 2'
  release:
    types: [ published ]
  workflow_dispatch:

jobs:

  pre-checks:
    name: Initial checks (linting, formatting, etc.)
    uses: ./.github/workflows/pre-checks
