name: publish

on:
  workflow_call:

jobs:

  build-and-publish:
    name: Build and publish package to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for OIDC authentication to PyPI
      contents: read
    steps:

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup project dependencies
        uses: ./.github/actions/project-setup

      - name: Build package
        run: uv build --no-sources

      - name: Publish to PyPI
        run: uv publish --trusted-publishing always
