name: tests

on:
  workflow_call:

jobs:

  test:
    name: Tests
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - macos-15
          - macos-15-intel
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    permissions:
      contents: read
    steps:

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup project dependencies
        uses: ./.github/actions/project-setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run smoke tests with code coverage
        run: uv run --frozen pytest tests/smoke/ --durations=10 --cov=src/snowdrift --cov-report=xml --junitxml=junit-st.xml -o junit_family=legacy
        continue-on-error: true

      - name: Run unit tests with code coverage
        run: uv run --frozen pytest tests/unit/ --durations=10 --cov=src/snowdrift --cov-report=xml --cov-append --junitxml=junit-ut.xml -o junit_family=legacy
        continue-on-error: true

      - name: Run codeblocks and doctests
        run: uv run --frozen pytest --durations=10
        continue-on-error: true

      - name: Upload coverage reports to Codecov.io
        if:  ${{ success() && matrix.platform == 'ubuntu-latest' && matrix.python-version == '3.14' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Merge test result files into a single one
        if: ${{ !cancelled() && !github.event.pull_request.head.repo.fork && github.repository_owner == 'xann16' }}
        run: uv run --with junitparser python3 -c "from junitparser import Xml;res = Xml.fromfile('junit-st.xml');res += Xml.fromfile('junit-ut.xml');res.write(file_or_filename='junit.xml')"

      - name: Upload test results to Codecov.io
        if: ${{ !cancelled() && !github.event.pull_request.head.repo.fork && github.repository_owner == 'xann16' }}
        uses: codecov/codecov-action@v5
        with:
          report_type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}
          name: sd_${{ matrix.platform }}_py${{ matrix.python-version }}
